@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$primary_color: orange;

:root{
    --primary_color: blue;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body{
    // @apply bg-red-500;
    // background-color: var(--primary_color);
    // background-color: $primary_color;
}


#main,
footer{
    // width: 2480px; // A4 Size Paper 2480 x 3508 pixels
    width: 991px;
}

#main p{
    line-height: 1.8rem;
}




.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media print {
    
    
    /* Printing 2 Column at paragraph o r content in single print page */
    .print\:columns-2 {
        @apply columns-2;
        /* column-count: 2; */
    }


    // Custom image size print:img-fit
    .print\:img-fit {
        @apply w-auto;
        @apply mx-auto;
        max-height: 30vh;
    }

    // Hide the print btn
    #footer{
        display: none;
    }


    #logo{
        @apply max-h-36;
    }

    #title{
        @apply text-xl;
        @apply text-black;
    }

    // Main section
    #main{
        @apply w-full;
        @apply px-1;
    }

  }